Source: monodevelop
Section: devel
Priority: optional
Maintainer: Mirco Bauer <meebey@debian.org>
Build-Depends: debhelper (>= 7), dpatch
Build-Depends-Indep: cli-common-dev (>= 0.5.7),
 mono-devel (>= 2.0),
 libmono-dev (>= 1.1.10),
 monodoc-base (>= 1.1.9),
 intltool,
 autoconf,
 automake,
 autotools-dev,
 gtk-sharp2-gapi (>= 2.8),
 libgtk2.0-cil (>= 2.8),
 libglade2.0-cil (>= 2.8),
 libgnome2.0-cil (>= 2.8),
 libgconf2.0-cil (>= 2.8),
 libgtksourceview2.0-cil (>= 0.10),
 libnunit2.4-cil,
 libmono-cairo2.0-cil (>= 1.2),
 libmono-winforms2.0-cil,
 libmono-system-runtime2.0-cil,
 libmono-cecil0.5-cil,
 libmono-addins0.2-cil (>= 0.3),
 libmono-addins-gui0.2-cil (>= 0.3),
 libmetacity-dev,
 libsvn-dev,
 libapr1-dev,
 libgtkspell-dev,
 mono-xsp-base,
 mono-xsp2-base,
 desktop-file-utils
Standards-Version: 3.8.0
Homepage: http://www.monodevelop.com/
Vcs-Svn: svn://svn.debian.org/svn/pkg-cli-apps/packages/monodevelop/trunk/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-cli-apps/packages/monodevelop/trunk/

Package: monodevelop
Architecture: all
Suggests: monodevelop-boo,
          monodevelop-java,
          monodevelop-vala,
          monodevelop-nunit,
          monodevelop-versioncontrol,
          monodevelop-database,
          monodevelop-debugger-mdb,
          monodevelop-debugger-gdb,
          nemerle,
          mono-xsp | mono-xsp2,
          mono-1.0-devel
Recommends: mono-devel
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${cli:Depends},
         monodoc-manual (>= 1.1.9),
         pkg-config,
         gnome-icon-theme (>= 1.1.3),
         xterm | x-terminal-emulator
Provides: monodoc-viewer
Description: Development Environment for GNOME
 MonoDevelop is a GNOME IDE primarily designed for C# and other CLI (.NET)
 languages.
 .
 It supports the following languages: C, C++, C# (1.0, 2.0 and 3.0), Vala, Boo,
 Java, Nemerle, ILasm, ASP.NET and VB.NET.
 .
 Features: Debugger Integration (Mono Debugger and GNU Debugger),
 Class Browser, Assembly Browser, Built-in Help, Monodoc Integration,
 Code Completion (also known as IntelliSense), Code Folding, Color Schemes,
 Code Refactoring, On-the-fly error underlining, XML Editing, Embedded HTML
 viewer, Gettext support, GTK# Designer, MSBuild project support and
 Makefile Generation.

Package: monodevelop-nunit
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${cli:Depends},
         monodevelop (= ${source:Version})
Description: NUnit plugin for MonoDevelop
 MonoDevelop is a GNOME IDE primarily designed for C# and other CLI (.NET)
 languages.
 .
 This package enables NUnit integration for MonoDevelop.

Package: monodevelop-versioncontrol
Architecture: all
Replaces: monodevelop (<< 0.13.1)
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${cli:Depends},
         monodevelop (= ${source:Version})
Description: VersionControl plugin for MonoDevelop
 MonoDevelop is a GNOME IDE primarily designed for C# and other CLI (.NET)
 languages.
 .
 This package enables version control integration (currently only Subversion)
 for MonoDevelop.
