Source: monodevelop
Section: devel
Priority: optional
Maintainer: Debian Mono Group <pkg-mono-group@lists.alioth.debian.org>
Uploaders: Mirco 'meebey' Bauer <mail@meebey.net>
Build-Depends: debhelper (>= 4.0.0), mono-mcs (>= 0.91) | c-sharp-compiler, libgtksourceview-dev (>= 0.7), libgnomevfs2-dev (>= 2.0), liborbit2-dev (>= 2.8.3), mozilla-dev, gtk-sharp (>= 0.91), gtk-sharp (<< 0.92), gtksourceview-sharp (>= 0.2)
Standards-Version: 3.6.0

Package: monodevelop
Architecture: any
Depends: ${shlibs:Depends}, mono-jit (>= 0.91) | cli-virtual-machine, xterm, libgnomevfs2-0 (>= 2.0), liborbit2 (>= 2.8.3) gtk-sharp (>= 0.91), gtk-sharp (<< 0.92), gnome-sharp (>= 0.91), gnome-sharp (<< 0.92), glib-sharp (>= 0.91), glib-sharp (<< 0.92), gtksourceview-sharp (>= 0.2), gecko-sharp (>= 0.2), monodoc (>= 0.14)
Description: A C# Development Environment
  MonoDevelop is a GNOME IDE primarily designed for C# and other .NET
  languages.
  Features: Debugger Integration, Class Browser, Monodoc Integration,
  Code Completion, Embedded HTML viewer, Gettext support, Java project support,
  Nemerle project support, ILAsm project support
  