#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export MONO_SHARED_DIR=$(CURDIR)
include /usr/share/dpatch/dpatch.make

configure: configure-stamp
configure-stamp: patch
	dh_testdir
	# piece of crap
	perl -pe ' \
	  s,update-mime-database \$$\(gnome_data\)/mime,# update-mime-database \$$\(gnome_data\)/mime,; \
	  ' -i $(CURDIR)/Makefile.in
	./configure --prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info RUNTIME=/usr/bin/cli
	touch configure-stamp

build: build-stamp
build-stamp: configure-stamp
	dh_testdir
	$(MAKE) RUNTIME=/usr/bin/cli
	touch build-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	rm -f configure-stamp
	rm -f build-stamp
	-$(MAKE) distclean
	rm -rf $(CURDIR)/.wapi
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp RUNTIME=/usr/bin/cli
	-cd $(CURDIR)/debian && find -type f -name "*.exe" -exec chmod +x {} \;
	-cd $(CURDIR)/debian && find -type f -name "*.dll" -exec chmod -x {} \;

binary-arch: build install
	dh_testdir -s
	dh_testroot -s
	dh_movefiles -s
	dh_link -s
	dh_install -s
	chmod -x $(CURDIR)/debian/monodevelop/usr/share/pixmaps/monodevelop.png
	cp $(CURDIR)/ChangeLog $(CURDIR)/changelog
	dh_installchangelogs -s
	dh_installdocs -s
	dh_installexamples -s
	dh_installmenu -s
	dh_installman -s
	dh_strip -s
	dh_compress -s
	dh_fixperms -s
	dh_installdeb -s
	dh_shlibdeps -s
	dh_netdeps -s -d
	dh_gencontrol -s
	dh_md5sums -s
	dh_builddeb -s

binary: binary-arch
.PHONY: build clean binary-arch binary install 
